<div class="jumbotron">
    <h1>API IS RUNNING...</h1>
    <p>Everything seems to be OK with this service: StateMonitorControl</p>
</div>

<div class="container body-content">
    <hr />
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
            <footer>
                <p>&copy; @DateTime.Now.Year - SPI Integradora de sistemas </p>
            </footer>
        </div>
    </div>
</div>

